<div class="col-sm-12 landing-panel" ng-show="currentUser">
    <div class="row main-body">
        <div class="col-xs-10 col-sm-offset-1">
            <div class="panel panel-default landing-login">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin Page</h3>
                </div>
                <div class="panel-body">
                    <div class="row col-xs-12">
                        Codes: {{admin.votes.length}}
                    </div>
                    <br />
                    <div class="row col-xs-12">
                        Codes Used: {{admin.votes.votesUsed}}
                    </div>
                    <br />
                    <div class="row col-xs-12">
                        <button class="btn btn-primary col-xs-5" ng-click="getVotes()">Refresh Code List</button>
                        <button class="btn btn-danger col-xs-5 col-xs-offset-2" ng-click="resetVotes()">DELETE ALL Codes</button>
                    </div>
                    <br />
                    <div class="row col-xs-12">
                        <button class="btn btn-success col-xs-5" ng-click="addVotes()">Add Codes</button>
                        <input class="col-xs-5 col-xs-offset-2" ng-model="admin.numberVotes" placeholder="# Codes to Add">
                    </div>
                    <br />
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Voted</th>
                            <th>Delete?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(voteIndex, vote) in admin.votes">
                            <th>{{voteIndex}}</th>
                            <td>{{vote.code}}</td>
                            <td>{{vote.voted}}</td>
                            <td><button class="btn btn-danger" ng-click="deleteVote(vote._id)">Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <hr />
                    <form>
                        <div class="form-group">
                            <label for="breweryName">Brewery</label>
                            <input type="text" class="form-control" id="breweryName" ng-model="admin.editBeer.brewery" placeholder="Brewery">
                        </div>
                        <div class="form-group">
                            <label for="beerName">Brewery</label>
                            <input type="text" class="form-control" id="beerName" ng-model="admin.editBeer.name" placeholder="Brewery">
                        </div>
                        <div class="form-group">
                            <label for="beerDescription">Description</label>
                            <textarea class="form-control" id="beerDescription" ng-model="admin.editBeer.description" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-default" ng-show="admin.editBeer._id" ng-click="updateBeer()">Save</button>
                        <button type="submit" class="btn btn-default" ng-show="admin.editBeer._id" ng-click="addBeer()">Add</button>
                    </form>
                    <br />
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Beer Name</th>
                            <th>Brewery</th>
                            <th>Edit?</th>
                            <th>Delete?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(beerIndex, beer) in admin.beers">
                            <th>{{beerIndex+1}}</th>
                            <td>{{beer.name}}</td>
                            <td>{{beer.brewery}}</td>
                            <td><button class="btn btn-info" ng-click="editBeer(beer)">Edit</button></td>
                            <td><button class="btn btn-danger" ng-click="deleteBeer(beer._id)">Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 landing-panel" ng-hide="currentUser">
    <div class="row main-body">
        <div class="col-xs-10 col-sm-offset-1">
            <div class="panel panel-default landing-login">
            <div class="panel-heading">
                <h3 class="panel-title">Admin Login</h3>
            </div>
            <div class="panel-body">
                    <form class="form-signin"
                          name="form"
                          ng-submit="login(form)"
                          novalidate>
                        <div class="form-group" ng-class="{'has-error': form.email.$error.mongoose}">
                            <label for="email">Email:</label>
                            <input type="text"
                                   id="email"
                                   class="form-control"
                                   placeholder="Email"
                                   name="email"
                                   ng-model="user.email"
                                   required
                                   autofocus
                                   mongoose-error>

                            <p class="help-block"
                               ng-show="form.email.$error.mongoose">
                                {{ errors.email }}
                            </p>
                        </div>

                        <div class="form-group" ng-class="{'has-error': form.password.$error.mongoose}">
                            <label for="password">Password:</label>
                            <input type="password"
                                   id="password"
                                   class="form-control"
                                   placeholder="Password"
                                   name="password"
                                   ng-model="user.password"
                                   required
                                   mongoose-error>

                            <p class="help-block"
                               ng-show="form.password.$error.mongoose">
                                {{ errors.password }}
                            </p>
                        </div>

                        <div class="form-group has-error">
                            <p class="help-block">{{ error.other }}</p>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>